.container {
  margin: 0 auto;
  width: 768px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}
nav {
float: left;
  background-color: gray;
  height: 674px;
  text-align: center;
cursor: default;
color: white;
}
 a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
ul{
padding-right: 10px;
padding-left: 10px;
list-style:none;
} 
li {
  padding: 10px;
}