.container {
  margin: 20px auto;
  width: 1000px;
  padding: 0px 20px 20px 20px;
  border: 1px black;
  background-color: rgba(100, 100, 100, 0.3);
  color: #B5E8EA;
}
th {
  text-align: left;
}
.jumbotron {
  background-image: url("https://i.ytimg.com/vi/0Sl8JH2jq0g/maxresdefault.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(100, 100, 100, 0.3);

}

img {
  border: 2px solid #ddd;
  border-radius: 4px; 
  padding: 1px; 
  width: 150px;
  float:left ;
  margin-right: 100px; 
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

input {
background-color: #B5E8EA;
}
.post_image {
  color: black;
  background-size: cover;
  background-image: url("https://media.timeout.com/images/102821302/630/472/image.jpg");
  background-attachment: fixed;
}
.post_editor{
color: #2F4F4F;
  background-size: cover;
  background-image: url("https://astrofella.files.wordpress.com/2015/10/escher_hand-with-a-reflecting-sphere-1935.jpg");
  background-attachment: fixed;
}


