<h1>Bienvenido a Sinatra!</h1>
<p>Este es un esqueleto de sinatra que armamos para ti</p>

  
<form action="/cool_url" method="get">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="submit">
  </form>

<form action="/cool_url" method="post">
    <input type="email" name="email" placeholder="Email"><br>
    <input type="text" name="post[title]">
    <input type="text" name="post[price]">
    <textarea name="post[description]"></textarea>
    <input type="submit"><br>
</form>

<form name="mytext" action="cool_url" method="post">
    <div align="left">
    THIS IS THE OUTSIDE AREA<br><br>
        <textarea cols="40" rows="5" name="text">
            Text something.
        </textarea>
            <br><br>
            THIS IS THE OUTSIDE AREA
        <input type="submit">
    </div>
</form>

<form name="myboxes" action="cool_url" method="get">
    <div align="left"><br>
        <h3>What would you like to eat today?</h3>
        <p>Select an option.</p>
        <input type="radio" name="optionfood" value="Pizza"> Pizza<br>
        <input type="radio" name="optionfood" value="Lasaghna"> Lasaghna<br>
        <input type="radio" name="optionfood" value="Sushi"> Sushi
        <input type="submit">
        <input type="reset" value="Reset!"><br>
        <hr>
        <h3> Which of this book's have you read?</h3>
        <p>Select an option.</p>
        <input type="checkbox" name="optionbook" value="Harry Poter"> Harry Poter<br>
        <input type="checkbox" name="optionbook" value="The Silmarillion"> The Silmarillion<br>
        <input type="checkbox" name="optionbook" value="The Cronics of Narnia"> he Cronics of Narnia<br>
        <input type="submit">
    </div>
</form>

<form name="dropdownmenu" action="cool_url" method="get">
    <div align="right">
    <p><center>Select a number</center></p>
    <select name="mydropdown">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
    </select>
    <input type="submit">
    <img src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/7-researchersc.jpg" align="texttop" height="70" whiht="90">
    </div>
</form>
 



