<% @rolls.each_with_index do |value, index| %>
  <img src="/<%= value %>.png" title="<%= value %>" alt="the roll" id="image-<%= index + 1 %>">
<% end %>

<% if @win  %>
  <h1 id="win"><%= @win %></h1>
<% end %>
