  <h1>Users App</h1>  
  <form action="/users" method="post">
    <input type="text" name="name" placeholder="Name"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="submit">
  </form>

   <a href="/users">Show all users</a>