<h1>Welcome to Anagrams!</h1>

<!-- Aquí deberá ir la forma de HTML -->
<form action="/new_word" method="post">
    <input type="text" name="user_word" placeholder="Word"><br>
     <input type="submit" value="Go Partial">
</form>

