<br>
<h1>Welcome to the Users  </h1>
<div id='parraf'>
  <form id="forma" action="/users" method="post" name="formName">
    <h4>Hello, SignUp, it's free!!!.</h4>
    <br>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="text-right">sIGNuP</h1>
      <div class="input-group col-md-4 col-md-offset-4">
        <input type="hidden" name="country" value="Norway">
        <input id="name_id" class="form-control" type="text" name="user_name" placeholder="name" > 
        <input id="email_id" class="form-control" type="text" name="user_email" placeholder="email" >
        <input id="password_id" class="form-control" type="password" name="user_password" placeholder="password" >
        <input id="boton" class="form-control" type="submit" value="sIGNuP">
      </div>
    </div>
  </div>
</form>
</div>


<form id="forma" action="/login" method="post"name="formName">
<div class="login"><h1>If you already have an account lOGiN</h1></div>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="text-right">lOGiN</h1>
      <div class="input-group col-md-4 col-md-offset-4">
        <input id="email_id_user" class="form-control" type="text" name="email" placeholder="email">
        <input id="password_id_user" class="form-control" type="password" name="password" placeholder="password">
        <input id="boton_user" class="form-control" type="submit" value="lOGiN">
      </div>
    </div>
  </div>
</form>
</div>

