<h1> This is the hidden page</h1 >
    <p><center>
      Date
      <!--mostrar sesion con tiempo actual-->
    </center></p>
    <!-- mostrar nombre -->
    <p>Hello <%= @user.name%>  </p>
    <br>
    <!-- mostrar id -->
    <p>Now you can be my student</p>
      <a href='/logout'>Close
      </a>
    